.navbar {
    background-color: black;
    height: 80px;
}

.title {
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.closeButton {
   margin-left: auto;
}