.navbar {
    background-color: black;
    height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.title {
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 0px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.closeButton {
   margin-left: auto;
}

.loginButton {
    margin-right: 50px;
}